In [26]:
#Output an empy data frame
import pandas as pd
df= pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [27]:
import pandas as pd
mydays={
    'Monday': ['2023-07-03'],
    'Tuesday': ['2023-07-04'],
    'Wednesday': ['2023-07-05'],
    'Thursday': ['2023-07-06'],
    'Friday': ['2023-07-07']
}
df= pd.DataFrame(mydays)
print(df)

       Monday     Tuesday   Wednesday    Thursday      Friday
0  2023-07-03  2023-07-04  2023-07-05  2023-07-06  2023-07-07

In [32]:
import pandas as pd
selected_data={}
for key, value in mydays.items():
    if key in ['Monday', 'Tuesday']:
        selected_data[key]= value
    
myseries= pd.Series(selected_data)
print(myseries)

Monday     [2023-07-03]
Tuesday    [2023-07-04]
dtype: object

In [10]:
mydataset={
    'names': ['Peter', 'Jeff', 'John', 'Phillip'],
    'snames': ['Josh', 'Mark', 'Collins', 'Agaba'],
    'age': [20, 30, 40, 50]
}
df= pd.DataFrame(mydataset)
print(df)

     names   snames  age
0    Peter     Josh   20
1     Jeff     Mark   30
2     John  Collins   40
3  Phillip    Agaba   50

In [31]:
abc= {
    'mon': ['first'],
    'tues': ['second'],
}
df= pd.DataFrame(abc)
print(df)

     mon    tues
0  first  second